/* Стилі для body */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:"Roboto", sans-serif;
    font-weight: Regular; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0px;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

/* Стилі для header */

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.header .span {
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2E2F42;
}

.header .navigation .link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;    
}

.header .navigation .link:hover {
    color: #404BBF;
}

.header .navigation .link:focus {
    color: #404BBF;
}

.header .navigation .link:active {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: 332px;
}

.address-ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin: auto 0;
}

.link-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

.link-address:hover {
    color: #404BBF;
}


.link-address:focus {
    color:#404bbf;
}
/* Стилі для first-section */

.first-section {
    background-color: #2E2F42;  
    justify-content: center;
    padding: 188px 0;
}

.main-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000026;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* Стилі для second-section */

.second-section {
    padding: 120px 0;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
}

.features-li {
    flex-basis: calc((100% - 72px) / 4);
}

.second-section .features .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section .features .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилі для third-section */

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
    justify-content: center;
}

.third-section-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.our-team {
    display: flex; 
    flex-direction: row;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.our-team-li {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
}

.our-team-li-div {
    padding: 32px 0;
}

.our-team .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color:#2e2f42;
    margin-bottom: 8px;
}

.our-team .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Стилі для fourth-section */

.fourth-section {
    padding: 120px 0 120px 0;
    justify-content: center;
}

.fourth-section-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.app-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
    justify-content: center;
}

.app-li {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
}

.app-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.fourth-section .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color:#2e2f42;
    margin-bottom: 8px;
}

.fourth-section .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color:#434455;
}

/* Стилі для footer */

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    justify-content: center;
}

.footer .container {
    justify-content: center;
    margin: 0 auto;
}

.footer .logo {
    display: inline-block;
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer .span {
    color: #F4F4FD;
}

.footer .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    max-width: 264px;
}